{% extends 'base.html' %} {% load static %} {% block content %}
<div>
  <img src={% static 'img/milesdavis.jpg' %} alt="Miles Davis" class="mb-4"/>
  <p>
    Founded in 2018, Blowout Rentals began its story in the basement of a
    one-story home in the suberbs of Provo, Utah. Due to the increasing
    popularity of music over the last year, Blowout Rentals has grown
    tremendously and now has several shops across Utah Valley. We offer wide
    selection of instrument rentals, ranging from flutes to saxophones and offer
    various insurance and protection packages to ensure a positive rental
    experience.
  </p>
  <h3>Our Mission: A trumpet in every home!</h3>
</div>
{% endblock %}
