<!DOCTYPE html>
<html>
    <head>
        <title>Sample Web</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Name ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i = 0; i < test.length; i++) {%>
                    <tr>
                        <td><%= test[i].NameID %></td>
                        <td><%= test[i].FirstName %></td>
                        <td><%= test[i].LastName %></td>
                    </tr>
                <% }%>
            </tbody>
        </table>
    </body>
</html>