<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        Here is the index.ejs page

        <form>

            <button type="submit" formaction="/test" method="GET">Test Get Method</button>
            <button type="submit" formaction="/redirectTest" method="GET">Test Get Method</button>






        </form>
    </body>
</html>